.form-popup.footer-forms_modal-contakts  
    form(action="").form_modal
      .flex-in-form
        aside.right  
          h3 Обратный звонок 
          .roow
            input(type="text" placeholder="Ваше имя").foot-form__field.foot-form__modal 
          .roow
            input(type="text" placeholder="Ваш телефон").foot-form__field.foot-form__modal  
          .center    
            button(type="submit").foot-form__send-btn.foot-form__send-btn_modal Отправить  


                
                